<div class="user-all-pens">
  <% @pens.each do |pen| %>
    <div class="user-pen">
      <div><%= image_tag( pen.image_url.to_s, class:"image")%></div>
      <div class="user-pen-des">
        <%= pen.brand %>
        <%= pen.name %>
        <%= pen.price %>
        <%= pen.description %>
      </div>
      <div class="edit-delete">
        <% if pen.user.id == current_user.id %>
          <%= link_to "編輯", edit_pen_path(pen)%>
          <%= link_to "刪除", pen_path(pen), method: "delete", data: { conform: "確認刪除" }%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

